{% extends 'base/base.html' %}
{% block page_content %}
            <!--headings-->
            <h1>Enter Your Data</h1>
            <!--end headings-->

            <!--profile data form-->
            <div class="form">
                <form method="POST" action="{% url 'create profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}

                    <input type="submit" value="SUBMIT" />
                </form>
            </div>
            <!--end profile data form-->
{% endblock %}
